<div class="section" id="landing">
    <div class="valign-wrapper max-height">
        <div class="center" id="contentContainer">
            <div class="row">
                <div class="col s12" id="introText">A place to drink, be merry, and write down all of the terrible stuff that you happen to overhear</div>
            </div>
            
            <div class="row">
                <div class="col s12">
                    <button id="loginButton" class="btn waves-effect waves-light cyan darken-3"  (click)="login()">Login, motherfucker</button>
                </div>
            </div>
        </div>
    </div>
</div>
