/* You can add global styles to this file, and also import other style files */
html {
    height:100%;
    width:100%;
}

body {
    height:100%;
    width:100%;

    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    font-weight:100;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; 
}

.max-height {
    height: 100%;
}